dvc==3.40.1
dvc-data==3.7.0
dvc-gdrive==3.0.1
dvc-http==2.32.0
dvc-objects==3.0.6
dvc-render==1.0.0
dvc-studio-client==0.18.0
dvc-task==0.3.0
fire==0.5.0
pandas~=1.5.3
PyMuPDF==1.23.25
spacy-streamlit==1.0.6
streamlit==1.36.0
streamlit-extras==0.5.0
streamlit-image-coordinates==0.1.9
huggingface-hub~=0.23.4
transformers~=4.38.2
numpy~=1.26.0
litellm~=1.42.0
tqdm~=4.66.4
torch~=2.3.1
torchvision~=0.18.1
scispacy~=0.5.4
en-core-sci-md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_core_sci_md-0.5.4.tar.gz
opencv-python-headless
mendeleev~=0.17.0
# this is installed separately, bc it's brittle and causes the breakage of other packages.
# papermage[dev,predictors,visualizers]  @ git+https://github.com/gsireesh/papermage.git@ad_hoc_fixes
